<div class="outfit-card-explore" data-controller="favourites">
<div class="outfit-description">
  <div class="favourites-container">
  <% if current_user.present? && outfit.user != current_user %>
    <% if current_user && current_user.favourites.pluck(:outfit_id).include?(outfit.id) %>
      <% user_favourite_outfit = outfit.favourites.find_by(user_id: current_user.id) %>
      <%= link_to '<i class="fa-solid fa-heart fa-xl"></i>'.html_safe, favourite_path(user_favourite_outfit, favourite_id: user_favourite_outfit.id), data:{ turbo_method: :delete, favourite_id: user_favourite_outfit.id, action: 'click->favourites#deleteFavourite'} %>
      <% else %>
      <%= link_to '<i class="fa-regular fa-heart fa-xl"></i>'.html_safe, outfit_favourites_path({ outfit_id: outfit.id }), data: { turbo_method: :post, outfit_id: outfit.id, action: 'click->favourites#addFavourite'} %>
    <% end %>
    <% elsif current_user.present?%>
    <%= link_to '<i class="fa-solid fa-shirt"></i>'.html_safe , my_outfits_path %>
   <% end %>
  </div>
  <h2 class="heading-outfit-index"><%= outfit.name %></h2>
  <% unless current_user.present? && outfit.user == current_user %>
    <p>@<%= link_to outfit.user.username, closet_path(outfit.user.id) %></p>
  <% end %>
</div>
  <div class="outfit-items outfit-image">
    <% outfit.sort_items_by_position.each do |item| %>
      <% height = item_height(item) %>
      <% width = item_width(item) %>
      <%= cl_image_tag item.photo.key, height: height, width: width, crop: :fill %>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_add_outfit" %>
