<div class="dropdown right-aligned-hamburger">
  <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-bars"></i>
  </a>

  <ul class="dropdown-menu wide-menu-options" aria-labelledby="dropdownMenuLink">
    <%= link_to "My profile", profile_path(current_user), class:"dropdown-item hamburger-link" %>
    <li><a class="dropdown-item hamburger-link" href="#">My outfits</a></li>
    <%= link_to "My chats", chatrooms_path, class:"dropdown-item hamburger-link" %>
    <%= link_to "Swap requests", swaps_path, class:"dropdown-item hamburger-link" %>
    <%= link_to "Received swaps", received_swaps_path, class:"dropdown-item hamburger-link" %>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class:"dropdown-item hamburger-link" %>
  </ul>
</div>
