<div class="upload-item-container m-3">
  <%= simple_form_for @item do |f| %>
    <h2 class="header-create-form">Upload new item</h2>
    <div class="upload-item-form">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.association :category %>
      <%= f.input :swappable %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Upload", class:"btn-main btn-create-item" %>
    </div>
  <% end %>
</div>
