

<%# <div class="back-arrow">
  <%= link_to items_path do %>
    <%# <i class="fa-solid fa-arrow-left"></i> %>
  <%# <% end %>
</div>
<section class="image-body">
    <% source = @item.photo.attached? ? cl_image_path(@item.photo.key) : "https://media.istockphoto.com/id/1257563298/photo/fashion-clothes-on-a-rack-in-a-light-background-indoors-place-for-text.jpg?s=612x612&w=0&k=20&c=UTL3KlMvLkteLe_9l3QbMklBcyaKQM5j6mcDxxtTr4Y="%>
  <div class="item-image">
    <img class="show-image" src=<%=source%>>
  </div>
  <div class="card-description">
    <h2 class="item-title"><%= @item.title %></h2>
    <p class="item-description"><%= @item.description %></p>
    <p class="owned-by-text">Owned by <%= link_to @item.user.username, closet_path(@item.user), class: 'owned-by-link' %></p>
  </div>

<section>
  <div>
    <% if @item.user == current_user %>
      <%= simple_form_for @item do |f| %>
        <div class="mark-as-swappable" class="col-sm-12">
          <%= f.input :swappable %>
        </div>
          <div class="user-item-buttons">
            <%= f.submit "SAVE", class: "btn-green-small" %>
            <%= link_to "DELETE", items_path(@item), data: { turbo_method: :delete }, class: "btn-green-small-opaque" %>
          </div>
      <% end %>
    <% else %>
      <%  if swap = Swap.find_by(receiver: current_user, sender: @item.user, status: :pending) %>
        <%= link_to "ACCEPT SWAP", item_swap_path(@item, swap), data: {turbo_method: :patch}, class:"btn-accept" %>
        <% else %>
      <%= button_to "SWAP", item_swaps_path(@item), class:"btn-green" %>
      <% end %>
    <% end %>
  </div>
</section>





<% content_for :meta_title, "#{@item.title} is on #{DEFAULT_META["meta_item_name"]}" %>
<% content_for :meta_description, @item.description %>
<% content_for :meta_image, cl_image_path(@item.photo.key) %>
