<div class="container swaps">
  <h3 class="title">My swap requests</h3>
  <% @swaps_requested.each do |swap| %>
  <div class="swap-card">
        <%= swap.id %>
    <div class= "d-flex">
      <div class="col-6">
        <%= render "items/item", item: swap.requested_item, full_width: true %>
        <p>I've requested this from <%= swap.receiver.username %></p>

      </div>
        <->
      <% if swap.second_item.present? %>
      <div class="col-6">
        <%= render "items/item", item: swap.second_item, full_width: true %>
        <p><%= swap.receiver.username %> has requested this item from me</p>
      </div>
      <% else %>
      <div>
      <%= swap.status  %>

      </div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>
