<%= render "shared/hamburger_menu" %>
<div class="container swaps">
  <h3 class="swap-title">MY SWAP REQUESTS</h3>
  <% @swaps_requested.each do |swap| %>
    <div class= "swap-card">
    <div class="d-flex card-top">
      <div class="col-6 p-2">
        <%= render "items/item", item: swap.requested_item, full_width: true %>
        <p>I've requested this from <%= link_to swap.receiver.username, closet_path(swap.receiver), class: 'owned-by-link' %></p>
      </div>
      <div class="align-self-center"> <i class="fa fa-exchange" aria-hidden="true"></i></div>
      <% if swap.second_item.present? %>
      <div class="col-6 p-2">
        <%= render "items/item", item: swap.second_item, full_width: true %>
      </div>
      <% else %>
      <div class="col-6 p-2 pending">
        <h3 class="swap-pending">Swap pending</h3>
      </div>
      <% end %>
    </div>
    <div class="d-flex links">
              <%= link_to "Cancel", item_swap_path(swap.requested_item, swap, {status: "denied"}), data: {turbo_method: :patch}, class:"btn-cancel" %>
              </div>
        </div>
    <% end %>
</div>
