<!DOCTYPE html>
<html>
  <head>
    <title>Swapt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="<%= background_colour(params) %>">
    <%= current_user.username %>
    <%= current_user.id %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
  </body>
</html>
